# project files created by IDEs
.gitignore~
.idea/*
.project
.settings/*

# node modules should be installed, not checked in
node_modules

# folders containing .ts files
src/*.js
src/gui/*/*.js

# webpack build folder
build
