* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

div {
    bottom:0;
    position:fixed;
    padding:0;
    margin:0;
    background:rgba(180,180,180,0.7);

    border-style: groove;
    border-color: gold;
    border-width: 3px;
}

#nextTurnButton {
    background-image: url("nextturn_button.svg");
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #4CAF50;
    border-radius: 50%;
}

#infoBox {
    right:0;
    width: 15%;
    height: 25%;
}

#topBar {
    right: 0;
    top: 0;
    height: 3%;
    width: 40%;
    min-width: 370px;
    min-height: 30px;
}

#buttonsBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#worldBenderBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#buildingCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#streetCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#bridgeCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#wallCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#harborCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#minimapBox {
    left:0;
    width: 15%;
    height: 25%;
}

#godmodeBox {
    top:0;
    height: 10%;
    width: 100%;
}

#loginBox {
    right:0;
    width: 15%;
    height: 25%;
}