* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

div {
    bottom:0;
    position:fixed;
    padding:0;
    margin:0;
    background:rgba(180,180,180,0.7);

    border-style: groove;
    border-color: gold;
    border-width: 3px;
}

#infoBox {
    right:0;
    width: 15%;
    height: 25%;
}

#infoChangeBox {
    right:0;
    width: 15%;
    height: 25%;
}

#mountBox {
    right:0;
    width: 15%;
    height: 25%;
}

#unMountBox {
    right:0;
    width: 15%;
    height: 25%;
}

#loginBox {
    right:0;
    width: 15%;
    height: 25%;
}

#buttonsBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#worldBenderBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#riverBenderBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#buildingCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#streetCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#bridgeCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#wallCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#harborCreationBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#armyGeneratorBox {
    right: calc(15% + 3px);
    width: calc(70% - 12px);
    height: 10%;
}

#minimapBox {
    left:0;
    width: 15%;
    height: 25%;
}

#godmodeBox {
    top:0;
    height: 10%;
    width: 100%;
}